<div class="progress-spinner" *ngIf="spinner">
    <mat-progress-spinner
      color="accent"
          mode="indeterminate">
      </mat-progress-spinner>
  </div>
<div class="main-div"  *ngIf="!spinner">
    <div class="container-fluid emp-profile embed-responsive">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQGx0d_exohuSA/profile-displayphoto-shrink_200_200/0?e=1596067200&v=beta&t=ycM0nxyBmO30rrkrjVdPT0-rfJFWI1JgWRw5Icg19tk" alt=""/>
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-6">
                <div class="profile-head">
                            <h5 class="text-white">
                                {{user.name}}
                            </h5>
                            <h6>
                                Action,Adventure,Comedy
                            </h6>
                            <p  class="proile-rating">RANKINGS : <span>8/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Watched Movies</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-6">
                <input type="submit" class="profile-edit-btn embed-responsive" name="btnAddMore" value="Edit Profile"/>
            </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab embed-responsive" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6 col-6">
                                        <label class="text-white">User Name</label>
                                    </div>
                                    <div class="col-md-6 col-6">
                                        <p class="text-white">{{user.name}}</p>
                                    </div>
                                    </div>
                                <div class="row">
                                    <div class="col-md-6 col-6">
                                        <label class="text-white">Email</label>
                                    </div>
                                    <div class="col-md-6 col-6">
                                        <p>{{user.email}}</p>
                                    </div>
                        </div>
                    </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-12">
                                  <div class="recommendation">
                                    <div hidden style="float: left">
                                      <button class="lrbutton text-white embed-responsive" (click)="RecmmscrollLeft()">&#8592;</button>
                                      </div>
                                    <div #RecommendationContent class="middle">
                                      <div class="info-widget embed-responsive " *ngFor="let movies of moviesArray">
                                        <img (click)="onImageClick(movies.movie_id)" class="text-white embed-responsive" [title]="movies.movieName" [src]="movies.movie_poster|imageurlwr" [alt]=""/>
                                      </div>
                                    </div>
                                    <div style="float: right;margin-right: 25%">
                                      <button hidden class="lrbutton text-white embed-responsive" (click)="RecmmscrollRight()">&#8594;</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                </div>
            </div>
    </form>           
    </div>
</div>