.banner{
    position: relative;
    width: 100%;
    min-height:100vh;
    padding:0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .banner .content{
    max-width: 550px;
  }
  
  .banner .content h2{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.5em;
    letter-spacing: 0.2em;
    color: #fff;
  }
  .banner .content h6{
    font-size: 1.1em;
    font-weight:100;
    letter-spacing: 0.03em;
    color: #fff;
    line-height: 1.5em;
    margin: 15px 0 35px;
  }
  
  .banner .content p{
    font-size: 1.1em;
    font-weight:100;
    letter-spacing: 0.03em;
    color: #fff;
    line-height: 1.5em;
    margin: 15px 0 35px;
  }
  p .more{
    padding: 0 100px;
  }
 

 .download-button{
   margin: 5% 3% 5% 0;
 }

 .actors img
 {
  border-radius: 50%;
  height:150px;
  width:150px;
 }

 .recommendation img{
  height:150px;
  width:150px;
 }
 .info-widget {
  width: 20.75%;
  display: inline-block;
}



.middle {
  float: left;
  width: 90%;
  overflow: hidden;
  /*will change this to hidden later to deny scolling to user*/
  white-space: nowrap;
}

.caption
{
  display: block;
}

.lrbutton
{
  height:150px;
  background-color: rgba(0,0.5,0.5,0.1)
}

.rating-div
{
  background-color: black;
  border: 2px solid thistle;
  height:50px;
  width: 55px;
}
