<div class="maindiv">    
    <div [ngStyle]="{'background-image':'linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0.9)),linear-gradient(to left, rgba(0,0,0,0),rgba(0,0,0,0.9)),url('+ movieposter + ')','background-repeat': 'no-repeat','background-attachment': 'fixed','height':'auto','width':'auto',  
      'background-size': 'cover', 'background-position': 'center'}">
      <div class="banner" >
          <div class="content">
            <h2>{{this.movieObject.title}}</h2>
            <p>
              {{this.movieObject.description}}
            </p>
            <a  type="button" pageScroll class="btn btn-dark btn-lg download-button" href="#videocontainer"><i class="fa fa-google-play fa-1x"></i>Watch Now</a>
            <a type="button" [href]="movieObject.url" class="btn btn-outline-light btn-lg download-button" [download]="movieObject.title"><i class="fa fa-arrow-alt-circle-down fa-1x"></i> Download</a>
            <br/>
          </div>
        </div>
        <div class="container" #videocontainer id="videocontainer">
          <div class="row">
            <div class="col-md-12">
          <div class="viseoplayer">
              <video id="my_video_1" class="video-js vjs-default-skin embed-responsive"  [poster]="movieposter" width="1200px" height="px" controls preload="none"
                data-setup='{ "aspectRatio":"800:267", "playbackRates": [1, 1.5, 2] }'>
                <source [src]="movieObject.url" type='video/mp4' />
                <source [src]="movieObject.url" type='video/webm' />
              </video>
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br><br>
      <div class="container" *ngIf="recommendedArray!=undefined&&recommendedArray.length>0">
        <div class="row">
          <div class="col-md-12">
              <h3 class="text-white">Recommendation</h3>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="recommendation">
              <div style="float: left">
                <button class="lrbutton text-white embed-responsive" (click)="RecmmscrollLeft()">&#8592;</button>
                </div>
              <div #RecommendationContent class="middle">
                <div class="info-widget embed-responsive" *ngFor="let recm of recommendedArray">
                  <img class="text-white embed-responsive" [title]="recm.recommended_movie" [src]="recm.movie_poster_data" [alt]="recm.recommended_movie"/>
                </div>
              </div>
              <div style="float: right">
                <button class="lrbutton text-white embed-responsive" (click)="RecmmscrollRight()">&#8594;</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <h3 class="text-white">Cast & Crews</h3>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="actors">
              <div style="float: left">
                <button class="lrbutton text-white embed-responsive" (click)="scrollLeft()">&#8592;</button>
                </div>
              <div #ActorContent class="middle" >
                <div class="info-widget embed-responsive" *ngFor="let actor of actorArray" >
                  <img *ngIf="(actor.actor_poster)!=null" class="text-white embed-responsive"  [src]="actor.actor_poster|imageurlwr" [title]="actor.actor"/>
                </div>
            </div>
            <div style="float: right">
                <button class="lrbutton text-white embed-responsive" (click)="scrollRight()">&#8594;</button>
              </div>
            </div>
          </div>
        </div>
      </div>
   
      
    </div>
  </div>



  