
<nav *ngIf="checkLogeedInUser()" class="navbar navbar-expand-lg navbar-dark ">
    <a routerLink="/mainpage" class="navbar-brand">scope</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse " id="navbarTogglerDemo02">
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/mainpage">HOME <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">FAVORITES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">LOGOUT</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0"action="/" method="post" >
    <input type="text" class="form-control" placeholder="Search Movies">
    <li class="fa fa-search" type="submit"></li>
    <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search">
    < class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
  </form>

  </div>
  <button routerLink="/user-profile" class="profile"><p class="fa fa-user-circle fa-2x"></p></button>
  </nav>
  
<router-outlet></router-outlet>
<notifier-container></notifier-container>