
<nav *ngIf="checkLogeedInUser()" class="navbar navbar-expand-lg navbar-dark " style="padding: 0;height: 56px;padding-left: 10px;padding-right: 10px;">
    <a routerLink="/mainpage" class="navbar-brand">scope</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse " id="navbarTogglerDemo02">
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/mainpage">HOME <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/allcontents','hollywood']">Hollywood</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['/allcontents','bollywood']" style="cursor: pointer;">Bollywood</a>
    </li>
  </ul>
  
    <li class="nav-item">
      <a class="nav-link text-white" style="padding-bottom: 25px; cursor: pointer;" (click)="logout()">LOGOUT</a>
    </li>
    <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search">
    < class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->


  </div>
  <button style="background-color: black;padding: 0;border: aliceblue;padding-top: 16px;height: -webkit-fill-available;" routerLink="/user-profile" class="profile"><p  class="fa fa-user-circle fa-2x text-white"></p></button>
  </nav>
  
<router-outlet></router-outlet>
<notifier-container></notifier-container>