<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign Up</h3>
			</div>
			<div class="card-body">
				<form [formGroup]="userProfileForm">
					<div class="input-group form-group" >
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="username"  formControlName="username" minlength="3">

					</div>
					<div  class="alert alert-danger" *ngIf="userProfileForm.controls['username'].invalid && (userProfileForm.controls['username'].dirty || userProfileForm.controls['username'].touched)" class="alert alert-danger">
						<p *ngIf="userProfileForm.controls['username'].hasError('required')"> Username Field cannot be null </p>
						<p *ngIf="userProfileForm.controls['username'].hasError('minlength')"> Username must be atleast 3 characters </p> 
					</div>
						

                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-envelope"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="email"  formControlName="email">
						
					</div>
					<div  class="alert alert-danger" *ngIf="userProfileForm.controls['email'].invalid && (userProfileForm.controls['email'].dirty || userProfileForm.controls['email'].touched)" class="alert alert-danger">
						<div *ngIf="userProfileForm.controls['email'].hasError('required')"> Email Field cannot be null </div>
						<div *ngIf="userProfileForm.controls['email'].hasError('pattern')"> Email is invalid </div>  
					</div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-key"></i></span>
						</div>
						<input type="text" class="form-control" formControlName="password" placeholder="password" minlength="8">
						</div>
						<div  class="alert alert-danger" *ngIf="userProfileForm.controls['password'].invalid && (userProfileForm.controls['password'].dirty || userProfileForm.controls['password'].touched)" class="alert alert-danger">
							<div *ngIf="userProfileForm.controls['password'].hasError('minlength')" > Password must be atleast 8 characters </div> 
							<div *ngIf="userProfileForm.controls['password'].hasError('required')"> Password Field cannot be null </div> 
						</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-repeat"></i></span>
						</div>
						<input type="password" class="form-control" formControlName="repassword"  placeholder="retype password">
					</div>
					<div class="form-group float-right "  (click)="register()">
						<input type="submit" value="SignUp" class=" login_btn">
					</div>
				</form>
			</div>
			<div>
				<div class="d-flex justify-content-center links card-footer">
					Already? have an account?<a routerLink="/loginpage" >Sign In</a>
				</div>
			</div>
		</div>
	</div>
</div>