
  .main-div
  {
    background-color: black;
  }
  .carousel-containers  {
      padding:0;
  }
  .carousel-inner img{
    background-position:center;
    width: fit-content;
  }
  .card-body
  {
    background-color: black;
  }
  .card-img-top
  {
      height:300px;
  }
  p
  {
      height:fit-content;
      width: fit-content;
  }

  #footer{
    color:white;
    text-align:center;
  }
  
  .social-icon{
      margin: 0px 10px;
  }
  
  s{
    color:#fff;
    background: black;
  }
  
  .footer-section{
    background-color: black;
  }